* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 215, 195);
    font-family: Arial, sans-serif;
}

#Welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.content-grid {
    display: grid;
    place-items: center;
    margin-top: 1.6rem;
}

.panel {
    width: min(90%, 600px);
    padding: 2rem;
    border: 2px solid black;
    border-radius: 24px;
    background-color: beige;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.Inputs {
    display: grid;
    gap: 1.2rem;
    font-size: 25px;
    padding: 1.6rem;
    background-color: beige;
}

label {
    background-color: beige;
}
a {
    text-decoration: none;
}
input,
select {
    font-size: 18px;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
}

.order-buttons {
    display: grid;
    gap: 0.8rem;
    background-color: bisque;
    padding: 8px;
    margin: 5%;
}

.button-setup {
    display: block;
    width: 420px;
    margin: 2rem auto;
    padding: 12px 20px;

    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: black; 

    background-color: bisque;
    border: 2px solid black;
    border-radius: 0;
}

.radio-list {
    display: grid;
    gap: 1rem;
    font-size: 15px;
}